@use './variables' as vars;

.containerCollapse {
    flex: 1;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.collapse {
    width: 100%;
    overflow: hidden;
}

.collapse__paragraphe {
    max-height: 0;
    transition: max-height 0.5s ease;
}

.collapse__paragraphe.open {
    max-height: 1000px;
    transition: max-height 0.5s ease;
}

.collapse__paragraphe.open .paragraphe {
    padding: 20px;
    background-color: vars.$color-grey;
    animation: slideDown 0.5s ease forwards;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.collapse__paragraphe .paragraphe {
    padding: 20px;
    background-color: vars.$color-grey;
    animation: slideUp 0.5s ease forwards;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.collapse__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$color-red;
    color: white;
    font-size: 10px;
    height: 40px;
    border-radius: 4px ;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    button {
        border: none;
        background-color: vars.$color-red;
        cursor: pointer;
    }

    .vector {
        transform: rotate(180deg);
    }
    .openVector {
        animation: rotateOpenVector 0.5s ease forwards;
    }

    .closeVector{
        animation: rotateCloseVector 0.5s ease forwards;
    }
}

@keyframes rotateOpenVector {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes rotateCloseVector {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}