.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
    gap: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;

    a {
        color: black;
    }
}

.number {
    font-size: 200px;
    font-weight: bold;
}

