.container {
    display: flex;
    justify-content: center;
}
.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1240px;
}
.card {
    background-color: #F6F6F6;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logements {
    position: relative;
    width: 1240px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px;
    justify-content: center;
    gap: 50px;
    border-radius: 8px 8px 8px 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logement {
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        border-radius: 8px 8px 8px 8px;
        object-fit:cover;
    }

    &::before{
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        z-index: 1;
        position: absolute;
        inset: 0;
        border-radius: 8px 8px 8px 8px;
    }
    
    p {
    position: absolute;
    color: white;
    margin-top: 290px;
    margin-left: 20px;
    width: 180px;
    z-index: 2;
    }
}
