.container__logement {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.carrousel {
    width: 100%;
    height: 350px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 30px;

    &__image {
        position: relative;
        object-fit:cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 20px;
    }

    &__leftVector {
        position: absolute;
        background: transparent;
        border: none;
        left: 20px;
        top: 140px;
        z-index: 2;
        transform: rotate(180deg);
        opacity: 80%;
    }

    &__rightVector {
        position: absolute;
        background: transparent;
        border: none;
        right: 20px;
        top: 140px;
        z-index: 2;
        opacity: 80%;
    }
    &__number {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        color: white;
    }
}

.logement__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__title {
        color: #FF6060;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__location {
        font-weight: 500;
    }

    &__starPerson {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 996px) {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
    &__person {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        gap: 20px;
    
        h2 {
        text-align: end;
        font-weight: normal;
        width: 100px;
        color: #FF6060;
        }
        img {
            border-radius: 100px ;
            width: 60px;
        }
    }
    @media (max-width: 996px) {
        flex-direction: column;
    }
}

.logement__list {
    width: 95%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top: 20px;

    &__tag {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;

        li {
            font-weight: 600;
            font-size: 14px;
            color: white;
            background-color:  #FF6060;
            border-radius: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 20px;
            padding-right: 20px;

            @media (max-width: 996px) {
                border-radius: 5px;  
            }
        }
    }
}

.collapse__logement {
    display: flex;
    gap: 50px;
    margin-top: 30px;

    h1 {
        font-size: 18px;
        font-weight: 600;
    }

    @media (max-width: 996px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.logement__star {
    display: flex;
    align-items: center;
}

.paragraphe__equipement {
    padding: 20px;
    background-color: #F6F6F6;
    animation: slideUp 0.5s ease forwards;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.collapse__paragraphe.open .paragraphe__equipement {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F6F6F6;
    animation: slideDown 0.5s ease forwards;
    overflow: hidden;
    position: relative;
    z-index: 1;
}