* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    width: 100%;

    @media (max-width : 1150px) {
        width: 95%;
    }

    @media (max-width: 996px) {
        width: 95%;

    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: 1240px;
    width: 100%;

    @media (max-width: 1150px) {
        width: 95%;
    }

    @media (max-width: 996px) {
        width: 95%;

    }
}

.header nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.header a {
    color: rgb(0, 0, 0);
}

.nav {
    text-decoration: none;

    &.active {
        text-decoration: underline;
    }
}

.header a:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;

    .title__banner {
        text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
        font-size: 50px;
        color: white;
        z-index: 2;

        &::before {
            content: "Chez vous, partout et ailleurs";
        }

        @media (max-width: 800px) {
            &::before {
                content: "Chez vous,\A partout et ailleurs";
                white-space: pre-line;
            }
        }
    }

    img {
        position: relative;
        height: 200px;
        width: 100%;
        object-fit: cover;
        z-index: -1;

    }
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlayLow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.footer {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    img {
        width: 110px;
        height: 35px;
        margin-bottom: 30px;
        margin-top: 20px;

        @media (max-width: 996px) {
            margin-bottom: 10px;
        }
    }
    p {
        font-size: 20px;
        text-align: center;

        @media (max-width: 996px) {
            width: 40%;
            text-align: center;
        }
    }
}